<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Detalles de la tarjeta de crédito</title>
<link class="cssdeck" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://integracion.alignetsac.com/VPOS2/js/modalcomercio.js"></script>
<script>
//simulates confirmed paymen
  function justDoIt(success) {
    if (success)
      document.location.href = '/card/confirm/<%= FBsessionId %>/<%= amount %>/<%= currency %>';
    else
      document.location.href = '/card/reject/<%= FBsessionId %>/<%= amount %>/<%= currency %>/Tarjeta de crédito rechazada';
  }
</script>
</head>
<body>
  <div class="container">
    <h1 class="">Detalles de la tarjeta de crédito</h1>
  	<div class="row">
      <input type="button" onclick="javascript:AlignetVPOS2.openModal('https://integracion.alignetsac.com/')" value="Comprar">
      <input type="button" onclick="javascript:justDoIt(true)" value="Succesful payment">
      <input type="button" onclick="javascript:justDoIt(false)" value="Unsuccesful payment">
      <div style="visibility: hidden">

         <form id="frmPaymentRequestId" name="frmPaymentRequest" method="post" action="#" class="alignet-form-vpos2">
             <input type="hidden" name="acquirerId" value="205"/>
             <input type="hidden" name="idCommerce" value="8510"/>
             <input type="hidden" name="purchaseOperationNumber" value="1"/>
             <input type="hidden" name="purchaseAmount" value="1"/>
             <input type="hidden" name="purchaseCurrencyCode" value="1"/>
             <input type="hidden" name="language" value=""/>
             <input type="hidden" name="shippingFirstName" value="Tomislav"/>
             <input type="hidden" name="shippingLastName" value="Biscan"/>
             <input type="hidden" name="shippingEmail" value="tomi@minka.io"/>
             <input type="hidden" name="shippingPhone" value="57123123123"/>
             <input type="hidden" name="shippingAddress" value="Bogotanska 23"/>
             <input type="hidden" name="shippingZIP" value="59111"/>
             <input type="hidden" name="shippingCity" value="Bogota"/>
             <input type="hidden" name="shippingState" value="Bogota"/>
             <input type="hidden" name="shippingCountry" value="Colombia"/>
             <input type="hidden" name="userCommerce" value="@tom"/>
             <input type="hidden" name="userCodePayme" value=""/>
             <input type="hidden" name="descriptionProducts" value=""/>
             <input type="hidden" name="programmingLanguage" value="NodeJS"/>
             <input type="hidden" name="reserved10" value=""/>
             <input type="hidden" name="reserved11" value=""/>
             <input type="hidden" name="purchaseVerification" value="<%= purchaseVerification %>" />
         </form>
      </div>
    </div>
  </div>
<script>
 $('#frmPaymentRequestId').attr('action', 'https://integracion.alignetsac.com/VPOS2/faces/pages/startPayme.xhtml');
</script>
</body>
</html>
