<!doctype html>
<html lang="en">
<head>
<title>¡Pago confirmado!</title>
<meta content="text/html; charset=UTF-8" http-equiv="content-type">
<style type="text/css">
    @import url('https://themes.googleusercontent.com/fonts/css?kit=iMc4-4exjgqA-toZgqqJBf35jAjY-31lSKWZb9Fa77M');
    ol {
        margin: 0;
        padding: 0
    }

    table td,
    table th {
        padding: 0
    }

    .c1 {
        border-right-style: solid;
        padding: 5pt 5pt 5pt 5pt;
        border-bottom-color: #000000;
        border-top-width: 0pt;
        border-right-width: 0pt;
        border-left-color: #000000;
        vertical-align: top;
        border-right-color: #000000;
        border-left-width: 0pt;
        border-top-style: solid;
        border-left-style: solid;
        border-bottom-width: 0pt;
        width: 234pt;
        border-top-color: #000000;
        border-bottom-style: solid
    }

    .c9 {
        color: #434343;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 11pt;
        font-family: "Open Sans";
        font-style: normal
    }

    .c2 {
        color: #999999;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 11pt;
        font-family: "Arial";
        font-style: normal
    }

    .c16 {
        color: #00a8ff;
        font-weight: 700;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 11pt;
        font-family: "Arial";
        font-style: normal
    }

    .c15 {
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 11pt;
        font-family: "Arial";
        font-style: normal
    }

    .c0 {
        color: #000000;
        font-weight: 700;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 11pt;
        font-family: "Arial";
        font-style: normal
    }

    .c3 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: left;
        height: 11pt
    }

    .c6 {
        color: #434343;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 11pt;
        font-family: "Arial";
        font-style: normal
    }

    .c11 {
        color: #d9d9d9;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 11pt;
        font-family: "Open Sans";
        font-style: normal
    }

    .c13 {
        color: #999999;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 11pt;
        font-family: "Open Sans";
        font-style: normal
    }

    .c7 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .c20 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: center
    }

    .c22 {
        font-weight: 700;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 11pt;
        font-family: "Arial";
        font-style: normal
    }

    .c8 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.0;
        text-align: right
    }

    .c23 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.0;
        text-align: left
    }

    .c14 {
        border-spacing: 0;
        border-collapse: collapse;
        margin-right: auto
    }

    .c18 {
        background-color: #ffffff;
        max-width: 468pt;
        padding: 72pt 72pt 72pt 72pt
    }

    .c5 {
        font-family: "Open Sans";
        color: #434343;
        font-weight: 700
    }

    .c10 {
        color: inherit;
        text-decoration: inherit
    }

    .c4 {
        color: #434343;
        text-decoration: underline
    }

    .c24 {
        color: #00a8ff;
        font-weight: 700
    }

    .c17 {
        color: #434343
    }

    .c25 {
        font-weight: 700
    }

    .c19 {
        height: 0pt
    }

    .c21 {
        height: 21pt
    }

    .c12 {
        height: 11pt
    }

    .title {
        padding-top: 0pt;
        color: #000000;
        font-size: 26pt;
        padding-bottom: 3pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .subtitle {
        padding-top: 0pt;
        color: #666666;
        font-size: 15pt;
        padding-bottom: 16pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    li {
        color: #000000;
        font-size: 11pt;
        font-family: "Arial"
    }

    p {
        margin: 0;
        color: #000000;
        font-size: 11pt;
        font-family: "Arial"
    }

    h1 {
        padding-top: 20pt;
        color: #000000;
        font-size: 20pt;
        padding-bottom: 6pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h2 {
        padding-top: 18pt;
        color: #000000;
        font-size: 16pt;
        padding-bottom: 6pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h3 {
        padding-top: 16pt;
        color: #434343;
        font-size: 14pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h4 {
        padding-top: 14pt;
        color: #666666;
        font-size: 12pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h5 {
        padding-top: 12pt;
        color: #666666;
        font-size: 11pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h6 {
        padding-top: 12pt;
        color: #666666;
        font-size: 11pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        font-style: italic;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .button {
        background-color: #00A8FF;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
</style>
<script>
(function(d, s, id){
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'Messenger'));
</script>
</head>
<body class="c18">
    <p class="c7"><span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 115.52px; height: 63.50px;"><img alt="luka_receipt_logo.png" src="/img/luka_receipt_logo.png" style="width: 115.52px; height: 63.50px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span></p>
    <p class="c3"><span class="c0"></span></p>
    <a id="t.be4d664558f4ee7d1d128e00ced2fa7540e2869a"></a>
    <a id="t.0"></a>
    <table class="c14">
        <tbody>
            <tr class="c21">
                <td class="c1" colspan="1" rowspan="3">
                    <p class="c7"><span class="c17 c25">Hola Luka</span></p>
                    <p class="c7"><span class="c6"></span></p>
                    <p class="c7"><span class="c6"></span></p>
                    <p class="c7"><span class="c17"></span></p>
                </td>
                <td class="c1" colspan="1" rowspan="3">
                    <p class="c8"><span class="c22 c17">Fecha: <%= date %></span></p>
                    <p class="c8"><span class="c6"># <%= billId %></span></p>
                </td>
            </tr>
            <tr class="c21"></tr>
            <tr class="c21"></tr>
        </tbody>
    </table>
    <p class="c3"><span class="c15"></span></p>
    <hr>
    <p class="c3"><span class="c15"></span></p>
    <p class="c7"><span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 99.59px; height: 97.50px;"><img alt="luka_receipt_icon.png" src="/img/luka_receipt_icon.png" style="width: 99.59px; height: 97.50px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span></p>
    <p class="c7"><span class="c16">Comprobante de pago electrónico</span></p>
    <p class="c3"><span class="c16"></span></p>
    <p class="c7"><span class="c17">Gracias por utilizar Hola Luka! A continuación podrás encontrar un recibo detallado de tu pago. Si tienes alguna duda, estamos contentos de ayudarte. Escríbenos a </span><span class="c4"><a class="c10" href="mailto:support@luka.com">support@luka.com</a></span><span class="c17">&nbsp;o contáctanos por medio de uno de nuestros canales de atención al cliente.</span></p>
    <p class="c3"><span class="c0"></span></p>
    <p class="c3"><span class="c0"></span></p>
    <hr>
    <p class="c3"><span class="c0"></span></p>
    <p class="c3"><span class="c0"></span></p>
    <p class="c7"><span class="c16">Detalle de recibo</span></p>
    <p class="c3"><span class="c2"></span></p>
    <a id="t.4cbcf29865f8c9c3c7343395d1f4103bde869460"></a>
    <a id="t.1"></a>
    <table class="c14">
        <tbody>
            <tr class="c19">
                <td class="c1" colspan="1" rowspan="1">
                    <p class="c7"><span class="c11">Descripción</span></p>
                    <p class="c3"><span class="c13"></span></p>
                    <p class="c3"><span class="c13"></span></p>
                    <p class="c7"><span class="c5">1</span><span class="c9">&nbsp;Pago a la cuenta nro. <%= accountId %> de <%= store %></span></p>
                    <p class="c3"><span class="c9"></span></p>
                    <p class="c3"><span class="c9"></span></p>
                    <p class="c7"><span class="c24">Total</span></p>
                </td>
                <td class="c1" colspan="1" rowspan="1">
                    <p class="c8"><span class="c11">Monto</span></p>
                    <p class="c8 c12"><span class="c9"></span></p>
                    <p class="c8 c12"><span class="c9"></span></p>
                    <p class="c8"><span class="c9"><%= currency %> <%= amount %></span></p>
                    <p class="c8 c12"><span class="c9"></span></p>
                    <p class="c8 c12"><span class="c9"></span></p>
                    <p class="c8"><span class="c22 c17"><%= currency %> <%= amount %></span></p>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="c3"><span class="c2"></span></p>
    <hr>
    <p class="c3"><span class="c2"></span></p>
    <p class="c3"><span class="c2"></span></p>
    <p class="c3"><span class="c2"></span></p>
    <p class="c3"><span class="c2"></span></p>
    <p class="c3"><span class="c2"></span></p>
    <p class="c20"><span class="c2"><button class="button"><a href="https://www.messenger.com/t/HolaLuka">Hola Luka</a></button></span></p>
<script>
window.extAsyncInit = function() {
  // the Messenger Extensions JS SDK is done loading
  MessengerExtensions.requestCloseBrowser(function success() {
    }, function error(err) {
  });
};
</script>
</body>
</html>
