<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>¡Pago rechazado!</title>
<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/rubik" type="text/css"/>
<style>
body { font-family: Rubik; } 
</style>
<script>
(function(d, s, id){
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'Messenger'));
</script>
</head>
<body>
<div class="container">
  <img src="/img/luka_logo.png">
  <div>¡Su pago de <%= billId %> ha sido rechazado.<div>
  <div><a href="<%= fb_page_url %>">Por favor cierre esta ventana y regrese a "Hola Luka!" chatbot.</a></div>
</div>
<script>
window.extAsyncInit = function() {
  // the Messenger Extensions JS SDK is done loading
  MessengerExtensions.requestCloseBrowser(function success() {
    }, function error(err) {
  });
};
</script>
</body>
</html>
